/* small - mobile/tablet */
.main{
  margin: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1em;
  position: relative;
}
.img-responsive {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
}

.slider{
  grid-column: span 2;
  grid-row: 1;
}

.slider__textbox{
  grid-column: span 2;
  grid-row: 2;
  padding: 1em;
}

.link {
  grid-column: span 1;
}

.link__label{
  justify-self: center;
  align-self: end;
  margin: 0.5em;
}