/* extra large - desktop */
@media (min-width: 960px) {
  .main {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: stretch;
  }

  .slider {
    grid-column: 1;
    grid-row: span 2;
    position: relative;
  }

  .slider__textbox{
    position: absolute;
    border-radius: 0.25em;
    background-color: white;
    bottom: 0;
    left: 0;
    max-width: 520px;
    margin: 1em;
    padding: 1em;
  }

  .link{
    grid-column: span 1;
    grid-row: span 1;
  }
}