/* extra large - desktop */
@media (min-width: 960px) {
  .main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    align-items: start;
  }

  .slider {
    grid-column: 1;
  }

  .hp-links {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
}